* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}

.hero {
    display: flex;
    background-color: #F0F4F4;
    width: 100vw;
    height: 1080px;
}

#container {
    display: flex;
    padding-left: 164px;
    margin-top: 126px;
    bor😍der-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    border-top-left-radius: 32px;
    width: 463px;
    height: 100%;
    background-color: #ffffff;
}